extends layout

block content
  h1 Velkommen til #{title}
  h1 Her kan du søge information om faciliteter der er til rådighed for hjemløse i Københavns Kommune.
  
  div.centered-links
    a.Vaeresteder1.button(href="/Vaeresteder1") Vaeresteder1
    a.Vaeresteder2.button(href="/Vaeresteder2") Vaeresteder2
    a.Vaeresteder3.button(href="/Vaeresteder3") Vaeresteder3
    a.SoegVaerested.button(href="/SoegVaerested") SoegVaerested
    a.Toiletter.button(href="/toiletter") Offentlige Toiletter
    a.Opretvaerested.button(href="/opretvaerested") Opretvaerested
    a.Sletvaerested.button(href="/sletvaerested") Sletvaerested
    a.Opdatervaerested.button(href="/opdatervaerested") Opdatervaerested
  
    
