html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    header
      nav
        ul
          li
            a.KBHvaeresteder(href='/') KBHværesteder
          li
            a.button(href='/vaeresteder1') Vaeresteder1
          li
            a.button(href='/vaeresteder2') Vaeresteder2
          li
            a.button(href='/vaeresteder3') Vaeresteder3
          li
            a.button(href='/soegvaerested') SoegVaerested 
          li
            a.button(href='/toiletter') Offentlige Toiletter
          li
            a.button(href='/opretvaerested') Opretvaerested
          li
            a.button(href='/sletvaerested') Sletvaerested
          li
            a.button(href='/opdatervaerested') Opdatervaerested
          
          
  body
    block content


  footer
    p Copyright © 2023 KBHværesteder