extends layout

block content
  
  form.sletID-form(action="/sletID", method="POST")
    .section
      div.container
        h2 Her kan du indtaste nummeret på et værested og få det slettet i databasen

        div.input-group
          label(for="id") Indtast nummeret på værestedet du vil slette:
          input#id(type="number", name="id")

    div.button-group
      button.spor-button(type="submit") slet 

      a.button(href="/") Tilbage