extends layout

block content
  
  form.sporID-form(action="/sporID", method="post")
    .section
      div.container
        h2 Her kan du indtaste nummeret på et værested og få oplyst dets adresse og bydel

        div.input-group
          label(for="id") Indtast nummeret på et værested:
          input#id(type="number", name="id")

    div.button-group
      button.spor-button(type="submit") søg 

      a.button(href="/") Tilbage